.Container {
  display: flex;
  justify-content: center;
}

.todo__head > h4 {
  margin-top: 4px;
}

.taskDisplay_div {
  display: flex;
  justify-content: space-between;
}

.deleteButton_div:hover {
  cursor: pointer;
}

.todo__head {
  display: flex;
  justify-content: space-between;
}
