.Container {
  display: flex;
  justify-content: center;
}

.row > h4 {
  margin-bottom: 20px;
}

.taskDisplay_div {
  display: flex;
  justify-content: space-between;
}

.deleteButton_div:hover {
  cursor: pointer;
}
